html {
  background-image: linear-gradient(red, blue);
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

.vertical_centre, img {
  vertical-align: middle
}

li {
  color: white;
  font-size: large;
  padding: 12pt;
}

img {
  border: 5px solid white;
}

.horizontal {
  display: inline-block;
}

.hidden {
  display: none;
}

p {
  color: white;
  font-size: 50pt;
  padding: 12pt;
}

li {
  vertical-align: top
}
